body {
  text-align: center;
  color:rgb(116, 116, 116);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  color:rgb(116, 116, 116);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.left {
  float: left;
  width: 45%;
  padding: 20px;
}

.right{
  float: right;
  width: 35%;
  padding: 20px;
}

.App_dark {
  background: #222;
  color: whitesmoke;
  text-align: center;
  color:rgb(90, 89, 89);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

body.App_dark {
  background: #222;
  color: whitesmoke;
  text-align: center;
  color:rgb(90, 89, 89);
  font-family: 'Roboto', sans-serif;
}

.item_dark {
  background: #222;
  color: whitesmoke;
}

.left_dark {
  background: #222;
  color: #aaa;
  float: left;
  width: 45%;
  padding: 20px;
}

.right_dark {
  background: #222;
  color: #aaa;
  float: right;
  width: 35%;
  padding: 20px;
}

.nav_dark {
  background: #333;
  color: whitesmoke;
}

.nav {
  background: rgb(255, 254, 254);
  color: #555;
  box-shadow: 2px 1px 2px #ccc;
}

.header_dark {
  background: #333;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color:rgb(88, 86, 86);
}

p {
  font-size: 0.7rem;
  margin: 0;
  color:rgb(121, 120, 120);
}

a {
  color: #333;
  text-decoration: none;
}

.description {
  display: flex;
  flex-flow: column;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(90, 89, 89);
  margin-left: 95%;
  overflow: hidden;
  width: 70vh;
  height: 42vh;
  text-overflow: ellipsis;
  white-space: wrap;
  border: 1px solid whitesmoke; 
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 5px;
  margin-top: 4vh;
}

.description_dark {
  display: flex;
  flex-flow: column;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(201, 198, 198);
  margin-left: 95%;
  overflow: hidden;
  width: 70vh;
  height: 42vh;
  text-overflow: ellipsis;
  white-space: wrap;
  border: 1px solid rgb(44, 44, 44); 
  box-shadow: 1px 1px 1px rgb(48, 47, 47);
  border-radius: 5px;
  margin-top: 4vh;

}

.toggle {
  color: rgb(185, 48, 48);
}
.toggle:hover{
  color: rgb(243, 62, 62);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  
  .container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .left {
    float: center;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .right {
    float: center;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    display: flex;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    /* position: absolute; */
    /* z-index: -99; */
  }

  .container_dark {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #222;
    color: rgb(211, 210, 210);
  }
  
  .left_dark {
    float: center;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(211, 210, 210);
  }

  .right_dark {
    float: center;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(211, 210, 210);

  }

  .card_dark {
    display: flex;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    color: rgb(211, 210, 210);
  }

  .search-bar {
    border: none;
    outline: none;
    background: whitesmoke;
    border-radius: 4px;
    padding: 4px;
    width: 45%;
  }
  
  .play-video {
    width: 70%;
    height: 500px;
    padding-bottom: 25px;
    border-radius: 4px;
  }

  .more-related-videos {
    display: none;
  }

  .related-videos {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    padding: 15px;
    margin-top: 70vh;
    margin-left: 11vh;
  }

  .more-related-videos_dark {
    display: none;
  }
  
  .related-videos_dark {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    padding: 15px;
    margin-top: 70vh;
    margin-left: 11vh;
    background: #aaa;
  }

  .video-card {
    height: 400px !important;
    width: 500px !important;
    border-radius: 8px;
  }

  .description {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(90, 89, 89);
    margin-left: 15%;
    overflow: hidden;
    width: 45vh;
    height: 45vh;
    text-overflow: ellipsis;
    white-space: wrap;
    box-shadow: 0px 0px 1px #ccc;
    border-radius: 5px;
    margin-top: 4vh;
    align-items: left;
  }
  
  .description_dark {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(201, 198, 198);
    margin-left: 95%;
    overflow: hidden;
    width: 54vh;
    height: 40vh;
    text-overflow: ellipsis;
    white-space: wrap;
    border: 1px solid rgb(44, 44, 44); 
    box-shadow: 1px 1px 1px rgb(48, 47, 47);
    border-radius: 5px;
    margin-top: 4vh;
  }  
}

.video-icon {
  background: whitesmoke;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
}

.header-logo {
  height: 25px;
  object-fit: contain;
  margin-left: 10px;
}

.header-center {
  display: flex;
  align-items: right;
  width: 40%;
  /* border: 1px solid lightgray */
}

.header-search-button {
  width: 50px !important;
  border-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: right;
}

.header-icon {
  margin-right: 12px;
}

.header-center > input {
  flex: 1;
}

.sidebar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebar-icon {
  color: #606060;
  font-size: large !important;
}

.sidebar-title {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.sidebar:hover {
  background-color: lightgray;
  cursor: pointer
}

.sidebar:hover >.sidebar-icon {
  color: red
}

.sidebar:hover >.sidebar-title {
  font-weight: bold;
}

.sidebar.selected {
  background-color: lightgray;
}

.sidebar.selected >.sidebar-icon {
  color: red
}

.sidebar.selected >.sidebar-title {
  font-weight: bold;
}


.side-panel {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.side-panel > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
}

.container_dark {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  background: #222;
}

.card {
  display: flex;
  width: 45vh;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 12px;
  padding: 12px
}

.play-video {
  width: 70%;
  height: 700px;
  padding-bottom: 45px;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.related-videos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 25%;
  padding: 15px;
}

.related-videos_dark {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 25%;
  padding: 15px;
  background: #222;
}

.video-card {
  height: 700px !important;
  width: 800px !important;
  border-radius: 8px;
}

.category-button:hover {
  color: black;
}

.search-bar {
  border: none;
  outline: none;
  background: whitesmoke;
  border-radius: 4px;
  padding: 7px;
  width: 45%;
}

.search-bar:focus {
  border-color: black !important;
  outline: none !important;
}
@media screen and (max-width: 1880px) {
  .video-card {
    width: 1390px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1850px) {
  .video-card {
    width: 1300px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1800px) {
  .video-card {
    width: 1200px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1700px) {
  .video-card {
    width: 1000px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1700px) {
  .video-card {
    width: 800px !important;
    height: 500px !important;
  }
}